# Ignorar entornos virtuales
virtualenv/

# Ignorar archivos de Python compilados
*.pyc

# Ignorar archivos de logs
*.log

# Ignorar archivos de bases de datos locales
*.sqlite

# Ignorar configuraciones del editor de código
.idea/
.vscode/
.codegpt